/* style.css */
body {
  font-family: Arial, sans-serif;
  background-color: #5da3e9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200vh;
  margin: 0;
}

.container {
 -color: rgb(156, 65, 80);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}

button {
  padding: 10px 15px;
  border: none;
  background-color: #ba14db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b3002d;
}

#result {
  font-size: 1.1em;
  font-weight: bold;
}
